#TopBar {
  background-color: #315e31;
  color: #e6d7a1;
  position: absolute;
  top: -1%;
  margin: auto;
  width: 110%;
  height: 10%;
  left: -1%;
  padding-top: 1%;
  padding-left: 6%;
}

body {
  background-color: #343633;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
}

.dropDown {
  position: relative;
  top: -49;
  left: 20%;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 20;
  padding: 30
}

#main {
  position:absolute;
  margin: auto;
  top: 12%;
  width: 70%;
  background-color: rgb(173, 171, 163);
}

.list {
  background-color: rgb(236, 235, 228);
  color:black;
  position: absolute;
  margin: auto;
  width: 80%;
  height: 80px;
  left: 0%;
  padding-top: 5;
  padding-left: 40;
  display: none;
  z-index: 100;
}
#logo {
  width: 5%;
  height: auto;
  position: absolute;
  top: 10%;
 left: 0.5%;
}